<!-- Start Contact content -->
<div>
    <div class="px-4 pt-4">
        <div class="d-flex align-items-start">
            <div class="flex-grow-1">
                <h4 class="mb-3">Bookmark</h4>
            </div>
        </div>
        <form>
            <div class="input-group search-panel mb-3">
                <input type="text" class="form-control bg-light border-0" id="searchbookmark" onkeyup="searchBookmark()"
                       placeholder="Search here..." aria-label="Example text with button addon"
                       aria-describedby="searchbookmark-addon" autocomplete="off">
                <button class="btn btn-light p-0" type="button" id="searchbookmark-addon"><i
                        class='bx bx-search align-middle'></i></button>
            </div>
        </form>
    </div>
    <!-- end p-4 -->

    <!-- Start contact lists -->
    <div class="chat-message-list chat-bookmark-list" id="chat-bookmark-list" data-simplebar>
        <ul class="list-unstyled chat-list">
            {% for bookmark in bookmarks %}
                <li>
                    <div class="d-flex align-items-center">
                        <div class="flex-shrink-0 ms-1 me-3">
                            <img src="/images/pdf-file.png" alt="" class="avatar-xs">
                        </div>
                        <div class="flex-grow-1 overflow-hidden">
                            <h5 class="fs-14 mb-1">
                                {# TODO: download file #}
                                <a href="#" class="text-truncate p-0">
                                    {{ bookmark.file.name }}
                                </a>
                            </h5>
                            <p class="text-muted text-truncate fs-13 mb-0">{{ bookmark.file|filesizeformat }}</p>
                        </div>

                        <div class="flex-shrink-0 ms-3">
                            <div class="dropdown">
                                <a class="dropdown-toggle fs-16 text-muted px-1" href="#" role="button"
                                   data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <i class="bx bx-dots-horizontal-rounded"></i>
                                </a>
                                <div class="dropdown-menu dropdown-menu-end">
                                    {# TODO: open, edit, downlaod #}
                                    <a class="dropdown-item d-flex align-items-center justify-content-between" href="#">Open
                                        <i class="bx bx-folder-open ms-2 text-muted"></i></a>
                                    <a class="dropdown-item d-flex align-items-center justify-content-between" href="#">Edit
                                        <i class="bx bx-pencil ms-2 text-muted"></i></a>
                                    <div class="dropdown-divider"></div>
                                    <a class="dropdown-item d-flex align-items-center justify-content-between"
                                       href="#">Delete <i class="bx bx-trash ms-2 text-muted"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
            {% endfor %}
        </ul>
    </div>
    <!-- end contact lists -->
</div>
<!-- Start Contact content -->