<div>
    <div class="px-4 pt-4">
        <div class="d-flex align-items-start">
            <div class="flex-grow-1">
                <h4 class="mb-4">Contacts</h4>
            </div>
            <div class="flex-shrink-0">
                <div>
                    {# TODO: add contact #}
                    <!-- Button trigger modal -->
                    <button type="button" class="btn btn-soft-success btn-sm" data-bs-toggle="modal"
                            data-bs-target="#addContact-exampleModal">
                        <i class="bx bx-plus"></i>
                    </button>
                </div>
            </div>
        </div>

        <form>
            {# TODO: search users #}
            <div class="input-group search-panel mb-4">
                <input type="text" class="form-control bg-light border-0" id="searchContact" onkeyup="searchContacts()"
                       placeholder="Search contacts..." aria-label="Search Contacts..."
                       aria-describedby="button-searchcontactsaddon" autocomplete="off">
                <button class="btn btn-light p-0" type="button" id="button-searchcontactsaddon"><i
                        class="bx bx-search align-middle"></i></button>
            </div>
        </form>
    </div>
    <!-- end p-4 -->

    <div class="chat-message-list chat-group-list" data-simplebar="init">
        <div class="simplebar-wrapper" style="margin: 0px;">
            <div class="simplebar-height-auto-observer-wrapper">
                <div class="simplebar-height-auto-observer"></div>
            </div>
            <div class="simplebar-mask">
                <div class="simplebar-offset" style="right: 0px; bottom: 0px;">
                    <div class="simplebar-content-wrapper" style="height: 100%; overflow: hidden scroll;">
                        <div class="simplebar-content" style="padding: 0px;">
                            <div class="sort-contact">
                                {% for letter, contacts in contacts_list.items %}
                                    <div class="mt-3">
                                        <div class="contact-list-title">{{ letter }}</div>
                                        <ul id="contact-sort-A" class="list-unstyled contact-list">
                                            {% for contact in contacts %}
                                                <li>
                                                    <div class="d-flex align-items-center">
                                                        <div class="flex-shrink-0 me-2">
                                                            <div class="avatar-xs"><img
                                                                    src="{{ contact.profile.avatar.url }}"
                                                                    class="img-fluid rounded-circle" alt="">
                                                            </div>
                                                        </div>
                                                        <div class="flex-grow-1">
                                                            <h5 class="fs-14 m-0">
                                                                {{ contact }}
                                                            </h5>
                                                        </div>
                                                        <div class="flex-shrink-0">
                                                            <div class="dropdown"><a href="#"
                                                                                     class="text-muted dropdown-toggle"
                                                                                     data-bs-toggle="dropdown"
                                                                                     aria-haspopup="true"
                                                                                     aria-expanded="false">
                                                                <i class="bx bx-dots-vertical-rounded align-middle"></i>
                                                            </a>
                                                                <div class="dropdown-menu dropdown-menu-end">
                                                                    {# TODO: edit and block and delete #}
                                                                    <a
                                                                        class="dropdown-item d-flex align-items-center justify-content-between"
                                                                        href="#">Edit <i
                                                                        class="bx bx-pencil ms-2 text-muted"></i></a>
                                                                    <a
                                                                        class="dropdown-item d-flex align-items-center justify-content-between"
                                                                        href="#">Block <i
                                                                        class="bx bx-block ms-2 text-muted"></i></a>
                                                                    <a
                                                                        class="dropdown-item d-flex align-items-center justify-content-between"
                                                                        href="#">Remove <i
                                                                        class="bx bx-trash ms-2 text-muted"></i></a>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </li>
                                            {% endfor %}
                                        </ul>
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="simplebar-placeholder" style="width: auto; height: 1420px;"></div>
        </div>
        <div class="simplebar-track simplebar-horizontal" style="visibility: hidden;">
            <div class="simplebar-scrollbar" style="width: 0px; display: none;"></div>
        </div>
        <div class="simplebar-track simplebar-vertical" style="visibility: visible;">
            <div class="simplebar-scrollbar"
                 style="height: 483px; display: block; transform: translate3d(0px, 0px, 0px);"></div>
        </div>
    </div>
    <!-- end contact lists -->
</div>