{% load static %}
<meta charset="utf-8" />
<title>Chat Box</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta content="Chat-box created by MHMK and powered by django." name="description" />
<meta content="MHMK" name="author" />
<!-- App favicon -->
<link rel="shortcut icon" href="{% static 'images/favicon.ico' %}" id="tabIcon">
<!-- glightbox css -->
<link rel="stylesheet" href="/static/libs/glightbox/css/glightbox.min.css">

<!-- One of the following themes -->
<link rel="stylesheet" href="/static/libs/@simonwep/pickr/themes/nano.min.css"/> <!-- 'classic' theme -->

<!-- swiper css -->
<link rel="stylesheet" href="/static/libs/swiper/swiper-bundle.min.css">

<!-- Bootstrap Css -->
<link href="/static/css/bootstrap.min.css" id="bootstrap-style" rel="stylesheet" type="text/css"/>
<!-- Icons Css -->
<link href="/static/css/icons.min.css" rel="stylesheet" type="text/css"/>
<!-- App Css-->
<link href="/static/css/app.min.css" id="app-style" rel="stylesheet" type="text/css"/>