<!-- JAVASCRIPT -->
<script src="/static/libs/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="/static/libs/simplebar/simplebar.min.js"></script>
<script src="/static/libs/node-waves/waves.min.js"></script>

<!-- Modern colorpicker bundle -->
<script src="/static/libs/@simonwep/pickr/pickr.min.js"></script>

<!-- glightbox js -->
<script src="/static/libs/glightbox/js/glightbox.min.js"></script>

<!-- Swiper JS -->
<script src="/static/libs/swiper/swiper-bundle.min.js"></script>

<!-- fg-emoji-picker JS -->
<script src="/static/libs/fg-emoji-picker/fgEmojiPicker.js"></script>

<!-- page init -->
<script src="/static/js/pages/index.init.js"></script>

<script src="/static/js/app.js"></script>